@mixin heading {
    font-family: var(--font-primary);
    font-size: var(--font-size--heading);
    font-weight: var(--font-weight--heading);
    color: var(--color-text--primary);
}

@mixin text {
    font-family: var(--font-primary);
    font-size: var(--font-size--text);
    color: var(--color-text--primary);
}

@mixin text-small {
    font-family: var(--font-primary);
    font-size: var(--font-size--small);
    color: var(--color-text--primary);
}