.contact {
    margin: {
        top: 10rem;
        bottom: 10rem;
    }
    
    
    &-heading {
        @include heading;
        text-transform: uppercase;
        margin: {
            bottom: 3.7rem;
        }
    }

    &-container {
        display: flex;
        @media only screen and (max-width: 757px) {
            display: block;
        }
    }
    &-address {
        margin-left: 28rem;
        @include heading;
        @media only screen and (max-width: 1000px) {
            margin-left: 10rem;
        }
        @media only screen and (max-width: 757px) {
            margin-left: 0;
            margin-top: 5rem;
        }
    }
    &-form {
        &--group {
            margin-bottom: 1.3rem;
        }
        &--label {
            display: block;
            margin-bottom: 1.7rem;
            @include heading;
            font-size: 2rem;
        }
        &--input {
            border: 1px solid #656565;
            border-radius: 14px;
            padding: 1rem 1.8rem;
            width: 24.5vw;
            @media only screen and (max-width: 1300px) {
                width: 30vw;
            }
            @media only screen and (max-width: 1000px) {
                width: 35vw;
            }
            @media only screen and (max-width: 757px) {
                width: 90vw;
            }
            margin-bottom: 1rem;

            &:focus {
                border-bottom: 3px solid var(--color-button);
            }
        }

        &--example {
            @include text-small;
            color:#B9B9B9;
        }

        &--textarea {
            padding: 1rem 1.8rem;
            width: 24.5vw;
            @media only screen and (max-width: 1300px) {
                width: 30vw;
            }
            @media only screen and (max-width: 1000px) {
                width: 35vw;
            }
            @media only screen and (max-width: 757px) {
                width: 90vw;
            }
            height: 23rem;
            border: 1px solid #656565;
            border-radius: 14px;

            &:focus {
                border-bottom: 3px solid var(--color-button);
            }
        }
    }
}